/* .ml-link a{
    color:white;
} */

.ml-link .fa-stack .hexagon {
    position: absolute;
    width: 3.25rem;
    height: 3.25rem;
    background: url('../images/hexagon-green.svg') center center no-repeat;
        background-size: auto;
    background-size: 3.25rem 3.25rem;
    transition: all 0.2s ease;
}

.ml-link .fa-stack-1x {
    font-size: 1.5rem;
    line-height: 3.25rem;
    color: #fff;
    transition: all 0.2s ease;
    margin-left:1.65rem;
}

.ml-link .fa-stack {
    margin-right: 0.25rem;
    margin-bottom: 0.75rem;
    margin-left: 0.125rem;
    width: 3.25rem;
    height: 3.25rem;
}